*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:active, a:hover{
	color: currentColor;
	text-decoration: none;
}

button, input{
	outline-style: none;
}

:root{
    --originalPrimary: #d19f19;
    --originalSecundary: #ab924f;
    --originalSpotlight: #1d69b5;

    --darkPrimary: #75726d;
    --darkSecundary: #2b2b29;
    --darkSpotlight: #e6e6bc;

    --lightPrimary: #aaadb4;
    --lightSecundary: #f0f0f4;
    --lightSpotlight: #c74b22;

    --purplePrimary: #83229c;
    --purpleSecundary: #5d3d66;
    --purpleSpotlight: #599e24;

    --bluePrimary: #22869c;
    --blueSecundary: #416a73;
    --blueSpotlight: #c92cc2;

    --greenPrimary: #599e24;
    --greenSecundary: #55733e;
    --greenSpotlight:  #83229c;
}

.originalBg{ background: var(--originalSecundary)}
.originalMaterial{ color: var(--originalPrimary)}

.darkBg{ background: var(--darkSecundary)}
.darkMaterial{ color: var(--darkPrimary)}

.lightBg{ background: var(--lightSecundary)}
.lightMaterial{ color: var(--lightPrimary)}

.purpleBg{ background: var(--purpleSecundary)}
.purpleMaterial{ color: var(--purplePrimary)}

.blueBg{ background: var(--blueSecundary)}
.blueMaterial{ color: var(--bluePrimary)}

.greenBg{ background: var(--greenSecundary)}
.greenMaterial{ color: var(--greenPrimary)}

.contrast{color: #1e1e1e;}
.colorWhite{color: #f0f0f2;}

header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

#name{
    font-size: 16pt;
    margin-left: 10px;
}

#app{
    width: 100%;
    height: auto;
    padding-top: 100px;
}

#asideMenu{
    margin-top: 100px;
    width: 300px;
    height: 420px;
    position: fixed;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .0) 33%, rgba(255, 255, 255, .5));
    border-radius: 40px;
    transform: translateX(-80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: .2s;
}

#menuSlider{
    width: 40px;
    height: 60px;
    position: absolute;
    margin-left: 100%;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    display: none;
}

#menuSlider i{
    font-size: 50px;
    width: 43px;
    color: #f0f0f0;    
    margin: 0;
    margin-top: 5px;
    transition: .2s ease-in;    
}

#menuSlider i:hover{text-shadow: 0px 0px 4px rgba(0, 0, 0, .3)}

.menuItem{
    width: 95%;
    height: 50px;
    background: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    opacity: .3;
    transition: .2s ease-in;
}

.menuItem p{
    margin-right: 30px;
    font-size: 18pt;
    font-weight: 300;
}

.selectedTheme, .menuItem:hover{opacity: .8;}
.selectedTheme:hover{opacity: 1;}
.selectedTheme{opacity: 1;}


#themeOriginal{background: var(--originalPrimary);}
#themeDark{background: var(--darkPrimary);}
#themeLight{background: var(--lightSecundary);}
#themePurple{background: var(--purplePrimary);}
#themeBlue{background: var(--bluePrimary);}
#themeGreen{background: var(--greenPrimary);}

.colorTheme{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

#taskList{
    justify-self: center;
    width: calc(80% - 320px);
    height: 420px;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 320px;
}

#phantomTask{
    opacity: .7;
    transition: .2s ease-in;
}

#phantomTask:hover, #phantomTask:focus{opacity: 1}

.task{
    width: 90%;
    max-width: 360px;
    height: 40px;
    margin: 5px 0;
    display: flex;
    background: #f0f0f0;
    align-items: center;
    border-radius: 6px;
    position: relative;
    padding: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.task:hover .options{
    z-index: 1;
    opacity: 1;
}

.task input{
    border: 0;
    background: transparent;
    padding: 0 10px;
    width: 100%;
    font-size: 14pt;
}

.checkBox{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-left: 10px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    margin-left: 100%;
    transform: translateX(calc(-100% - 10px));
    opacity: 0;
    z-index: -1;
    transition: .2s ease-in;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(92, 87, 87, .1);
    border-radius: 4px;
    margin-right: 10px;
}

.option:hover{background: rgba(92, 87, 87, .3);}

.materialOptions{
    font-size: 18px;
    margin: 2px;
}

#menuBackground{
    display: none;
}

#btnSend{
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #888;
    display: none;
}

@media screen and (max-width: 940px){
    #taskList{
        width: calc(90% - 280px);
        margin-left: 280px;
    }
}

@media screen and (max-width: 720px){

    #btnSend{
        display: block;
    }

    #app{        
        padding-top: 20px;
    }

    #taskList{
        width: 80%;
        margin-left: 10%;
        height: 340px;
    }

    #menuBackground{
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
    }

    #asideMenu{
        float: left;
        position: fixed;
        height: 380px;
        margin-top: 50vh;
        transform: translate(-95%, calc(-50% - 80px));
        z-index: 3;
        background-image: linear-gradient(to right, #aaa, #f0f0f0);
    }

    #menuSlider{
        display: block;
        background-color: #f0f0f0;
        transform: translateX(-1px);
    }

    #menuSlider i{
        color: #555;
        transform: rotate(180deg);
    }

    .menuItem{
        opacity: .6;
    }

    .selectedTheme{opacity: 1;}
}